@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.custom-shadow {
  box-shadow: -26px 26px 90px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -26px 26px 90px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -26px 26px 90px 20px rgba(0, 0, 0, 0.3);
}
.heading-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
