@import "tailwindcss";

@layer base {
  * {
    @apply selection:bg-zinc-900 selection:text-zinc-200;
  }
  body {
    @apply bg-zinc-100;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    @apply text-xs text-zinc-700;
  }
  span,
  button {
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    @apply text-zinc-800;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .button-primary {
    @apply py-3.5 px-4.5 bg-zinc-800 hover:bg-zinc-900 text-zinc-200 rounded-[14px] text-xs leading-none shadow-lg shadow-zinc-500/30 active:scale-95 cursor-pointer transition-all duration-300 ease-in-out;
  }
}

@layer utilities {
  .transition-smooth {
    @apply transition-all duration-300 ease-in-out;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}
